.modal{
    z-index: 999;
    height: 100vh;
}

.overlay{
    z-index: 1000;
}

div>h1>span{
    background: linear-gradient(89deg, #9C4F96 0%, #FF6355 17.19%, #FBA949 34.38%, #FAE442 49.48%, #8BD448 69.79%, #2AA8F2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.progress-bar{
    background-color: #1F1F23;
}

.bar{
    background: linear-gradient(89deg, #9C4F96 0%, #FF6355 17.19%, #FBA949 34.38%, #FAE442 49.48%, #8BD448 69.79%, #2AA8F2 100%);
}